<h3><%= @staff.name %> <%= @staff.lastname %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @staff.lastname %>
</p>

<p>
  <strong>Productora:</strong>
  <%= @staff.productora_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @staff.phone %>
</p>

<hr>

<h3>Artículos sin devolver de este vestuarista</h3>
	<div id="table_container">
		<table class="inputCollectionTable">
			<thead>
		        <tr>
		        	<th>Código de artículo</th>
		            <th>Descripción de artículo</th>
		            <th>Precio</th>
		            <th>Tipo de transacción</th>
		            <th>Estado de artículo</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<% @staff.input.each do |input| %>
		    		<% if !input.article.nil? %>
						<tr class="pseudo-link" onclick="location.href='/articles/<%= input.article.id %>'">
							<td>
								<span><%= input.article.id %></span>
							</td>
							<td>
								<span><%= input.article.description %></span>
							</td> 
							<td>
								<span>$<%= input.amount %></span>
							</td>
							<td>
								<span><%= input.obtain_human_label %></span>
							</td>
							<td>
								<span><%= input.article.obtain_human_label %></span>
							</td>
						</tr>
					<% end %>
				<% end %>	
			</tbody>
		</table>
	</div>


<%= button_to 'Editar', edit_staff_path(@staff), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Atrás', staffs_path, :method => "get", :class => 'back_btn' %>