<script>
  // Change message of required validation
  jQuery.extend(jQuery.validator.messages, {
    required: "Este campo es requerido.",
    email: "Por favor ingresa un Email válido."
  });

  function set_required_data() {
    $('#provider_name').addClass('required');
    $('#provider_lastname').addClass('required');
    $('#provider_email').addClass('required');
    $('#provider_ci').addClass('required');

    $('.new_provider').validate({
      rules: {
          'provider[email]': {
              required: true,
              email: true,
          }
      }
    });

    $('.edit_provider').validate({
      rules: {
          'provider[email]': {
              required: true,
              email: true,
          }
      }
    });
  }

  $(document).ready(function(){
    set_required_data();
  });
</script>

<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
      <tr class="name">
        <td>
          <%= f.label :name %>
        </td>
        <td>
          <%= f.text_field :name %>
        </td>
      </tr>
      <tr class="lastname">
        <td>
          <%= f.label :lastname %>
        </td>
        <td>
          <%= f.text_field :lastname %>
        </td>
      </tr>
      <tr class="phone">
        <td>
          <%= f.label :phone %>
        </td>
        <td>
          <%= f.text_field :phone %>
        </td>
      </tr>
      <tr class="email">
        <td>
          <%= f.label :email %>
        </td>
        <td>
          <%= f.text_field :email %>
        </td>
      </tr>
      <tr class="addres">
        <td>
          <%= f.label :address %>
        </td>
        <td>
          <%= f.text_field :address %>
        </td>
      </tr>
      <tr class="ci">
        <td>
          <%= f.label :ci %>
        </td>
        <td>
          <%= f.text_field :ci %>
        </td>
      </tr>
  </table>
  <%= f.submit nil, :class => 'save'%>
<% end %>
