<h3> Proveedores </h3>
<p id="notice"><%= notice %></p>
<div class="search">  
  <%= form_tag({controller: "providers", action: "filter"}, :class => "search_form") do%>
    <%= text_field_tag(:search_text) %>
    <%= submit_tag 'Buscar', :disable_with => 'Please wait...', :class => 'submit_search' %>
  <% end %>
</div>
<style>
.providers_container{
    height: 450px;
    overflow-y: auto;
}
</style>

<br/><br/>
<div class="providers_container">
    <table id="providers">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Ci</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <% @providers.each do |provider| %>
            <tr>
                <td><%= provider.name %></td>
                <td><%= provider.lastname %></td>
                <td><%= provider.phone %></td>
                <td><%= provider.email %></td>
                <td><%= provider.address %></td>
                <td><%= provider.ci %></td>
                <td><%= link_to image_tag('show.png', size: "16x16"), provider %></td>
                <td><%= link_to image_tag('edit.png', size: "16x16"), edit_provider_path(provider) %></td>
                <td><%= link_to image_tag('delete.png', size: "16x16"), provider,  method: :delete, data: { confirm: 'Esta seguro/a?' } %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <%= button_to 'Nuevo Proveedor', new_provider_path, :method => "get", :class => 'new_provider_btn' %>
</div>
