<h3><%= @provider.name %> <%= @provider.lastname %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @provider.lastname %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @provider.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>C.I:</strong>
  <%= @provider.ci %>
</p>

<table id="reports">
    <thead>
        <tr>
            <th>Descripcion de Articulo</th>
            <th>Precio Estimado</th>
            <th>Enviado</th>
        </tr>
    </thead>
    <tbody>
        <% @article_list.each do |article| %>
        <tr>
          <td><%= article.description %></td>
          <td><%= article.estimated_price %></td>
          <td><img src="/assets/<%= (article.sent) ? 'tick' : 'cross' %>.png" width="15" height="15"/></td>
        </tr>
        <% end %>
       <tr>
            <td></td>
            <td></td>
            <td>---------------------------</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>


<%= button_to 'Enviar artículos a proveedor', art_not_sent_path(@provider), :method => "get", :class => 'edit_btn', :disabled => @article_list.empty? %> 
<%= button_to 'Editar', edit_provider_path(@provider), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Atras', providers_path, :method => "get", :class => 'back_btn' %>
