<style>
  .alquilado{
    background-color: #F0E68C !important ;
  }

  .disponible{
    background-color: #90EE90 !important;
  }

  .vendido{
    background-color: #F08080 !important;
  }

  .articles_container{
    max-height: 280px;
    overflow-y: auto;
  }

  a, a:visited {
    color:#333;
  }

</style>

<script>
  // Diferencia los articulos por estado, y colorea para distinguir.
  function diffArticlesByStatus() {
    $('tr').each(function(){
      if ($(this).attr('class') != 'ignore') {
        $(this).find('td').each(function(){
          if ($(this).text() == 'Alquilado') {
            // Add class to parent tr
            $(this).parent().addClass('alquilado');
          } else if ($(this).text() == 'Disponible'){
            // Add class to parent tr
            $(this).parent().addClass('disponible');
          } else if ($(this).text() == 'Vendido') {
            // Add class to parent tr
            $(this).parent().addClass('vendido');
          }
        });
      }
    });
  }

  $(document).ready(function(){
    diffArticlesByStatus();
  });
</script>

<h3><%= @provider.name %> <%= @provider.lastname %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @provider.lastname %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @provider.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>C.I:</strong>
  <%= @provider.ci %>
</p>
<div class="articles_container">
  <table id="reports">
      <thead>
          <tr class="ignore">
              <th>Código</th>
              <th>Descripción de Artículo</th>
              <th>Precio Estimado</th>
              <th>Estado</th>
              <th>Fecha Venta/Alquiler</th>
              <th>Enviado</th>
          </tr>
      </thead>
      <tbody>
          <% @article_list.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= link_to article.description, article %></td>
            <td><%= '$' + article.estimated_price %></td>
            <td><%= article.obtain_human_label ? article.obtain_human_label : 'Disponible' %></td>
            <td><%= article.input && article.obtain_human_label ? (l article.input.created_at) : '-' %></td>
            <td><img src="/assets/<%= (article.sent) ? 'tick' : 'cross' %>.png" width="15" height="15"/></td>
          </tr>
          <% end %>
         <tr class="ignore">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>---------------------------</td>
          </tr>
          <tr class="ignore">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
  </table>
</div>


<%= button_to 'Enviar artículos a proveedor', art_not_sent_path(@provider), :method => "get", :class => 'edit_btn', :disabled => @not_sent_articles.empty? %> 
<%= button_to 'Editar', edit_provider_path(@provider), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Atras', providers_path, :method => "get", :class => 'back_btn' %>
