<style>	
	.print{
		width: 100px;
		cursor: pointer;

	}

	.right{
		text-align: right;
		padding-right: 10px;
	}

	#billing_table{
    	height: 200px;
    	overflow-y: auto;
	}

	.rut{
		float:right;
	}

	#rut_input{
		width: 120px;
	}

	.mainDiv{
		display:none;
	}
</style>

<script>
 function printImg() {
 	$('.modalBackground').hide();
 	$('#rut').hide();
 	alert($('#rut_input').val());
 	$('#billing_table').prepend('<div><p>'+ $('#rut_input').val() +'</div></p>');
    var divToPrint = document.getElementById('mainDiv');
    newWin = window.open("");
    // Css y salto de pagina cuando un div queda cortado en la impresion
    newWin.document.write('<style>' + 
    						'@media print{div.mainDiv{page-break-inside: avoid;} .tableTrData{vertical-align:top;} .tableContainer{padding-top:60px;} .headerContainer{padding-top:120px;} #bodyTable{height: 200px;overflow-y: auto;}.headerContainer > div, .footerContainer > div {display: inline-block;text-align: right;}tr {width:100%;}td {text-align: right;padding-right: 60px;}.tableClass {width:100%;}.subTotalContainer {width: 16.6%;}} ' +
    					'</style>');
	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
  }

  $(document).ready(function(){
    $('.print').click(function(){
    	printImg();
    });
  });
</script>

<div id="billing_table">
    <div class="provider_container" id="rent_container">
		<div id="rut" class="rut">
			<label for="rut_input">Ingrese RUT</label>
			<input type="text" id="rut_input" />
		</div>
		<table id="articles">
			<thead>
		        <tr>
					<th>Detalle</th>
					<th>Importe</th>
		        </tr>
		    </thead>
			<tbody>
				<tr>
					<td>Comisi贸n por intermediaci贸n de Alquileres</td>
					<td>$<%= @subtotal %></td>
				</tr>
				<tr>
					<td class="right">SUB TOTAL</td>
					<td></td>
				</tr>
				<tr>
					<td class="right">IVA</td>
					<td>$<%= @iva %></td>
				</tr>
				<tr>
					<td class="right">TOTAL</td>
					<td>$<%= @total %></td>
				</tr>
			</tbody>
		</table>
		<p> Montevideo, <%= Time.now.strftime("%d-%m-%Y") %></p>
	</div>
</div>
<div>
	<button class="print">Imprimir</button>
</div>

<div id="mainDiv" class="mainDiv">
	<div id="billing_table">
		<div class="rutContainer">
			<table id="rutTable" class="tableClass">
				<tr>
					<td class="rut">
						<p>s</p>
					</td>
					<td class="">
						<p></p>
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
		<div id="headerContainer" class="headerContainer">
			<table id="headerTable" class="tableClass">
				<tr>
					<td class="nameContainer">
						<p></p>
					</td>
					<td class="addressContainer">
						<p></p>
					</td>
					<td class="dateContainer">
						<p> Montevideo, <%= Time.now.strftime("%d-%m-%Y") %></p>
					</td>
				</tr>
			</table>
		</div>

		<div class="tableContainer">
			<table id="bodyTable" class="tableClass">
				<thead>
			    </thead>
				<tbody>
					<tr class="tableTrData">
						<td class="tableData">Comisi贸n por intermediaci贸n de Alquileres</td>
						<td>$<%= @subtotal %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footerContainer">
			<table id="footerTable" class="tableClass">
				<tr>
					<td class="subTotalContainer">
					</td>
					<td class="subTotalContainer">
					</td>
					<td class="subTotalContainer">
					</td>
					<td class="subTotalContainer">
						$<%= @subtotal %>
					</td>
					<td class="subTotalContainer">
						$<%= @iva %>
					</td>
					<td class="subTotalContainer">
						$<%= @total %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>