<% if @article.nil? %>
  <p class="articleMessageContainer">
    No hay articulos con ese id.
  </p>
<% elsif @article.status == "rented" || @article.status == "sold" %>  
  <p class="articleMessageContainer">  
    El artículo está <%= (@article.status == "rented") ? "alquilado" : "vendido" %>
  </p>  
<% else %>
        <div class="articleData" data-description="<%= @article.description %>"
                                 data-estimated-price="<%= @article.estimated_price %>" 
                                 data-entry-date="<%= @article.entry_date %>"
                                 data-comission="<%= @article.commission_per %>"
                                 data-status="<%= @article.status %>">
            <p>
              <strong>Descripción:</strong>
              <%= @article.description %> 
            </p>

            <p class="amountContainer">
              <strong>Precio Estimado:</strong>
              <input type="text" value="<%= @article.estimated_price %>" id="selectedAmount"/>
            </p>

            <p>
              <strong>Fecha de Ingreso:</strong>
              <%= @article.entry_date %>
            </p>

            <p>
              <strong>Porcetaje Comisión:</strong>
              <%= @article.commission_per %>
            </p>

            <p>
              <strong>Efectivo Comisión:</strong>
              <%= @article.commission_cash %>
            </p>

            <p>
              <strong>Estado:</strong>
              <%= @article.status %>
            </p>
        </div>
<% end %>