<script>
    // Change message of required validation
    jQuery.extend(jQuery.validator.messages, {
        required: "Este campo es requerido."
    });

    $.validator.addMethod('positiveNumber',
        function (value) { 
            return Number(value) > 0;
        }, 'Por favor ingresa un valor positivo');

    $.validator.addMethod('noDecimal',
        function(value){
          return /^(\d{1,3})?$/.test(value);
        }, 'Por favor ingresa un numero entero y con un máximo de 3 cifras');

    $.validator.addMethod('number',
        function (value) { 
            return Number(value);
        }, 'Por favor ingresa un número');

    function set_default_values(){
        if( $(article_commission_per).val() == undefined || $(article_commission_per).val() == '') {
          $(article_commission_per).val('35');
        }
    }

    function calculate_winning_amount(){
        // Si no hay errores
        if($('.error').attr('id') == undefined) {
          
            if($('#article_estimated_price').val() != '' && $('#article_estimated_price').val() != undefined) {
                var total_percentual = parseInt($('#article_estimated_price').val(), 10) * (parseInt($('#article_commission_per').val())/100);

                var total_iva = total_percentual * 0.22;

                $('#article_commission_cash').val((total_percentual + total_iva).toFixed(0));
                
                // Just enable to save data 
                $('#article_commission_cash').prop('disabled', false);
            } else {
                $('#article_commission_cash').val('');
            }
        } else {
            $('#article_commission_cash').val('');
        }
    }

    function set_required_data(){
        $('#article_estimated_price').addClass('required');
        $('#article_description').addClass('required');
        $('#article_commission_per').addClass('required');
        $('#article_provider_id').addClass('required');
        $('#article_commission_cash').prop('disabled','disabled');

        validate_fields();
    }

    function validate_fields(){
        $('.new_article').validate({
            rules: {
                'article[estimated_price]': {
                    required: true,
                    number: true,
                    positiveNumber: true
                },
                'article[commission_per]': {
                    required: true,
                    positiveNumber: true,
                    number: true,
                    noDecimal: true
                }
            }
        });
    
        $('.edit_article').validate({
            rules: {
                'article[estimated_price]': {
                    required: true,
                    number: true,
                    positiveNumber: true
                },
                'article[commission_per]': {
                    required: true,
                    positiveNumber: true,
                    number: true,
                    noDecimal: true
                }
            }
        });
    }

    $(document).ready(function(){
        set_required_data();
        set_default_values();
    
        $("input[name='commit']").click(function(){
            calculate_winning_amount();
        });
  });
</script>

<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= f.label 'Proveedor' %><br>
        <%= f.select :provider_id, 
            options_from_collection_for_select(Provider.all.sort_by{|provider| provider.name}, 'id', 'firstname', Article.order("created_at").last ? Article.order("created_at").last.provider_id : Provider.last ? Provider.last.id : '') %>
    </div>
    <div class="field">
        <%= f.label 'Descripción' %><br>
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label 'Precio Estimado' %><br>
        <%= f.text_field :estimated_price %>
    </div>
    <div class="field">
        <%= f.label 'Porcetaje Comisión' %><br>
        <%= f.text_field :commission_per %>
    </div>
    <div class="field">
        <%= f.label 'Efectivo Comisión' %><br>
        <%= f.text_field :commission_cash %>
    </div>
    <div class="actions">
        <%= f.submit "Salvar Artículo", :class => 'save'%>
    </div>
<% end %>
