<% if @article.nil? %>
  <p class="articleMessageContainer">
    No hay artículo con ese id.
  </p>
<% elsif @article.input.nil? %>
  <p class="articleMessageContainer">
    El artículo no está siendo alquilado.
  </p>
<% elsif @article.status == "" || @article.status == "sold" %>  
  <p class="articleMessageContainer">  
    El artículo está <%= (@article.status == "") ? "disponible" : "vendido" %>
  </p>  
<% else %>
        <div class="articleData" data-description="<%= @article.description %>"
                                 data-estimated-price="<%= @article.input.amount %>" 
                                 data-entry-date="<%= @article.input.created_at %>"
                                 data-comission="<%= @article.input.comission_per %>"
                                 data-status="<%= @article.input.comission_cash %>">
            <p>
              <strong>Descripción:</strong>
              <span id="selectedDescription"><%= @article.description %></span>
            </p>

            <p class="amountContainer">
              <strong>Precio:</strong>
              <span type="text" id="selectedAmount"><%= @article.input.amount %></span>
            </p>

            <p>
              <strong>Fecha Alquiler:</strong>
              <%= l @article.input.created_at %>
            </p>

            <p>
              <strong>Porcetaje Comisión:</strong>
              <%= @article.input.comission_per %>
            </p>

            <p>
              <strong>Efectivo Comisión:</strong>
              <%= @article.input.comission_cash %>
            </p>

            <p>
              <strong>Estado:</strong>
              <span id="selectedType"><%= @article.obtain_human_label %></span>
            </p>
        </div>

        <div>
          <input type="button" value="Agregar a lista para devolver" id="returnRentedArticle"/>
        </div>
<% end %>