<style>
  .articles_container{
    height:700px;
    overflow-y: auto;
  }
</style>

<h3>Artículos no devueltos</h3>

<div class="search">  
  <%= form_tag({controller: "articles", action: "filter_debtors"}, :class => "search_form") do%>
    <%= text_field_tag(:search_text) %>
    <%= submit_tag 'Buscar', :disable_with => 'Please wait...', :class => 'submit_search' %>
  <% end %>
</div>

<br/><br/>

<div class="articles_container">
    <table id="articles">
      <thead>
        <tr>
          <th>Código</th>
          <th>Descripción</th>
          <th>Precio Estimado</th>
          <th>Fecha de Alquiler</th>
          <th>Porcentaje Comisión</th>
          <th>Estado</th>
          <th>Proveedor</th>
          <th>Código</th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.id %></td>
            <td><%= article.description %></td>
            <td><%= '$' + article.estimated_price %></td>
            <td><%= l article.created_at %></td>
            <td><%= article.input.comission_per + '%' + ' + iva'%></td>
            <td><%= article.obtain_human_label %></td>
            <td><%= article.provider.name + ' ' + article.provider.lastname %></td>
            <td><%= image_tag('barcodes/'+article.id.to_s+'.png', size: "60x30", :class => 'barcode_image', :id => "barcode_" + article.id.to_s) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
