<script>
  function printImg(id) {
	var printWindow = window.open('');
	printWindow.document.write('<style>' + 
    							'.barcode_with_code{display: inline-block; text-align:center;} .barcode_image {height: 80px; float: left; margin-bottom:-7px} .code{font-size: 12px; margin-top: -10px;}  ' +
    							'</style>');
    printWindow.document.write('<html><div class="barcode_with_code"><img class="barcode_image" src=\'');
    printWindow.document.write(document.getElementById(id).src);
    printWindow.document.write('\' /><p class="code">'+id.substring(8)+'</p></div></html>');
    printWindow.print();
    printWindow.document.close();
    printWindow.close();
  }

  $(document).ready(function(){
    $('.barcode_image').click(function(){
      printImg($(this).attr('id'));
    });
    $('table#articles').sieve();
  });
</script>

<style>
.articles_container{
  height: 700px;
  overflow-y: auto;
}

.status{
	padding-right: 10px;
}

a, a:visited {
	color:#333;
}
</style>

<h3>Artículos</h3>
<div class="articles_container">
	
	<p id="notice"><%= notice %></p>

	<table id="articles">
	  <thead>
		<tr>
		  <th>Código</th>
		  <th>Descripción</th>
		  <th>Precio Estimado</th>
		  <th>Fecha de Ingreso</th>
		  <th>Porcentaje Comisión</th>
		  <th>Efectivo Comisión</th>
		  <th>Estado</th>
		  <th>Vestuarista</th>
		  <th>Proveedor</th>
		  <th>Código</th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
	  </thead>

	  <tbody>
		<% @articles.each do |article| %>
		  <tr>
		    <td><%= article.id %></td>
		    <td><%= link_to article.description, article %></td>
		    <td><%= '$' + article.estimated_price %></td>
		    <td><%= l article.created_at %></td>
		    <td><%= article.commission_per + '%' + ' + iva'%></td>
		    <td><%= '$' + article.commission_cash %></td>
		    <td class="status"><%= article.obtain_human_label ? article.obtain_human_label : 'Disponible' %></td>
		    <td><%= article.input && article.input.staff && article.obtain_human_label ? (link_to article.input.staff.name + ' ' + article.input.staff.lastname, article.input.staff) : '-' %></td>
		    <td><%= link_to article.provider.name + ' ' + article.provider.lastname, article.provider %></td>
		    <td><%= image_tag('barcodes/'+article.id.to_s+'.png', size: "60x30", :class => 'barcode_image', :id => "barcode_" + article.id.to_s) %></td>
		    <td><%= link_to image_tag('show.png', size: "16x16"), article %></td>
		    <td><%= link_to image_tag('edit.png', size: "16x16"), edit_article_path(article) %></td>
		    <td><%= link_to image_tag('delete.png', size: "16x16"), article,  method: :delete, data: { confirm: 'Esta seguro/a?' } %></td>
		  </tr>
		<% end %>
	  </tbody>
	</table>
</div>	

<%= button_to 'Nuevo Artículo', new_article_path, :method => "get", :class => 'new_article_btn' %>
