<h3><%= @article.description %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Descripci칩n:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Precio Estimado:</strong>
  <%= '$' + @article.estimated_price %>
</p>

<p>
  <strong>Fecha de Ingreso:</strong>
  <%= @article.created_at %>
</p>

<p>
  <strong>Porcentaje Comisi칩n:</strong>
  <%= @article.commission_per %>%
</p>

<p>
  <strong>Efectivo Comisi칩n:</strong>
  <%= '$' + @article.commission_cash %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @article.obtain_human_label %>
</p>

<%= button_to 'Editar', edit_article_path(@article), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Atr치s', articles_path, :method => "get", :class => 'back_btn' %>
