<h3><%= @article.description %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<p>
  <strong>Estimated price:</strong>
  <%= @article.estimated_price %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @article.entry_date %>
</p>

<p>
  <strong>Commission per:</strong>
  <%= @article.commission_per %>
</p>

<p>
  <strong>Commission cash:</strong>
  <%= @article.commission_cash %>
</p>

<p>
  <strong>Status:</strong>
  <%= @article.status %>
</p>

<%= button_to 'Edit', edit_article_path(@article), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Back', articles_path, :method => "get", :class => 'back_btn' %>
