<h3><%= @productora.name %></h3>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @productora.name %>
</p>

<p>
  <strong>Nombre Factura:</strong>
  <%= @productora.billing_name %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @productora.rut %>
</p>

<%= button_to 'Editar', edit_productora_path(@productora), :method => "get", :class => 'edit_btn' %> 
<%= button_to 'Atrás', productoras_path, :method => "get", :class => 'back_btn' %>
