<style>
    .center{
        text-align: center;
    }
    .left{
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .size {
        width:275px;
    }
    table {
        margin: 0 auto;
        width:275px;
    }
</style>

<script>
 function printImg() {
    var divToPrint = document.getElementById('receiptContainer');
    newWin = window.open("");
    // Css y salto de pagina cuando un div queda cortado en la impresion
    newWin.document.write('<style>' + 
                            '@media print{.center {text-align: center;} .left {text-align: left;} .right {text-align: right;} .size {width:200px; font-size:10px;} table {margin: 5px auto;width:180px; font-size:10px;}} ' +
                        '</style>');
    newWin.document.write(divToPrint.outerHTML);
    newWin.print();
    newWin.close();
  }

  $(document).ready(function(){
    $('#print').click(function(){
        printImg();
    });
  });

</script>

<div id="receiptContainer" class="center size">
	<h3>*** Bienvenido a Ciclotimia ***</h3>
    <p>Simón Bolívar 1262</p>
    <p>Montevideo - Uruguay</p>
    <p>Teléfono: 2705 6231</p>


    <br/>
    <table>
    <tr>
        <td class="left"><%= Date.today.strftime("%d/%m/%Y") %></td>
    </tr>
    </table>
	<table> 
        <thead>
            <tr>
                <td class="left"><strong>Código</strong></td>
                <td class="left"><strong>Descripción</strong></td>
                <td class="right"><strong>Precio</strong></td>
            </tr>
        </thead>
        <tbody>
            <% total = 0 %>
            <% @new_inputs.each do |input| %>
                <% future = ((input.future_amount.to_i * 0.3) + (input.future_amount.to_i * 0.3 * 0.22)).round %>
                <tr>
                    <td class="left"><%= input.article ? input.article.id : input.article_id %></td>
                	<td class="left"><%= input.article ? input.article.description : input.article_desc %></td>
                	<td class="right">$<%= input.type == "Rent" ? future : input.amount %></td>
                </tr>
                <% total = total + ( input.type == "Rent" ? future : input.amount) %>
            <% end %>
            <tr>
                <td class="left"></td>
                <td class="left">Total:</td>
                <td class="right">$<%= total %></td>
            </tr>
            <tr>
                <td class="left"></td>
                <td class="left">Total Excento:</td>
                <td class="right">$<%= total %></td>
            </tr>
        </tbody>
    </table>
    <h3>*** Gracias por su Visita ***</h3>
</div>
<input class="small-button" id="print" type="button" value="Imprimir"/>
