<style>
    .center{
        text-align: center;
    }
    .left{
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .size {
        width:275px;
    }
    table {
        margin: 0 auto;
        width:275px;
    }
</style>

<script>
 function printImg() {
    var divToPrint = document.getElementById('receiptContainer');
    newWin = window.open("");
    // Css y salto de pagina cuando un div queda cortado en la impresion
    newWin.document.write('<style>' + 
                            '@media print{.center {text-align: center;} .left {text-align: left;} .right {text-align: right;} .size {width:200px; font-size:10px;} table {margin: 5px auto;width:180px; font-size:10px;}} ' +
                        '</style>');
    newWin.document.write(divToPrint.outerHTML);
    newWin.print();
    newWin.close();
  }

  $(document).ready(function(){
    $('#print').click(function(){
        printImg();
    });
  });

</script>

<div id="receiptContainer" class="center size">
	<h3>*** Bienvenido a Ciclotimia ***</h3>
    <p>Simón Bolívar 1262</p>
    <p>Montevideo - Uruguay</p>
    <p>Teléfono: 2705 6231</p>


    <br/>
    <table>
    <tr>
        <td class="left"><%= Date.today.strftime("%d/%m/%Y") %></td>
    </tr>
    </table>
	<table> 
        <thead>
            <tr id="head">
                <td class="left"><strong>Código</strong></td>
                <td class="left"><strong>Descripción</strong></td>
                <td class="right"><strong>Precio</strong></td>
            </tr>
        </thead>
        <tbody>
            <% rent           = false %>
            <% total          = 0 %>
            <% total_alquiler = 0 %>
            <% iva            = 0 %>
            <% excent         = 0 %>
            
            <% @new_inputs.each do |input| %>
                <% future = (input.future_amount.to_i * 0.3) + (input.future_amount.to_i * 0.3 * 0.22) %>
                <tr>
                    <td class="left"><%= input.article ? input.article.id : input.article_id %></td>
                	<td class="left"><%= input.article ? input.article.description : input.article_desc %></td>
                	<td class="right">$<%= input.type == 'Rent' ? input.future_amount : input.amount %></td>
                    <% if input.type == 'Rent'%>
                        <% rent = true %>
                        <td id="rent" class="right">$<%= future.round %></td>
                        <script type="text/javascript">
                            if ($('#rent_head').attr('id') == undefined) {
                                $('#head').append('<td id="rent_head" class="right"><strong>Precio Alquiler</strong></td>');
                            }
                        </script>
                    <% end %>
                </tr>
                <% if rent %>
                    <% total_alquiler += future %>
                    <% iva            += input.future_amount.to_i * 0.3 * 0.22 %>
                    <% excent         += input.future_amount.to_i * 0.3 %>
                <% end %>
                <% total += input.type == 'Rent' ? input.future_amount.to_i : input.amount %>
            <% end %>
            <tr id="total">
                <td class="left"></td>
                <% if rent %>
                    <td class="left"></td>
                    <td class="right">Total Venta:</td>
                <% else %>
                    <td class="right">Total:</td>
                <% end %>
                <td class="right">$<%= total.round %></td>
            </tr>
            <% if rent %>
                <tr id='iva'>
                    <td class="left"></td>
                    <td class="left"></td>
                    <td class="right">IVA:</td>
                    <td class="right">$<%= iva.round %></td>
                </tr>
                <tr id='excent'>
                    <td class="left"></td>
                    <td class="left"></td>
                    <td class="right">Total Excento:</td>
                    <td class="right">$<%= excent.round %></td>
                </tr>
            <% end %>
            <tr id="total_ex">
                <td class="left"></td>

                <% if rent %>
                    <td class="left"></td>
                    <td class="right">Total Alquiler:</td>
                    <td class="right">$<%= total_alquiler.round %></td>
                <% else %>
                    <td class="right">Total Excento:</td>
                    <td class="right">$<%= total.round %></td>
                <% end %>
            </tr>
        </tbody>
    </table>
    <h3>*** Gracias por su Visita ***</h3>
</div>
<input class="small-button" id="print" type="button" value="Imprimir"/>
