<div id="receiptContainer">
	<h3>***** Bienvenido a Ciclotimia *****</h3>
    <br/>

	<%= Date.today.strftime("%d/%m/%Y") %> 
	<table>
        <thead>
            <tr>
                <td><Strong>Descripción</Strong></td>
                <td><Strong>Precio</Strong></td>
            </tr>
        </thead>
        <tbody>
            <% total = 0 %>
            <% @new_inputs.each do |input| %>
            <tr>
            	<td><%= input.article.description %></td>
            	<td>$<%= input.amount %></td>
            </tr>
            <% total = total + input.amount %>
            <% end %>
            <tr>
                <td>Total:</td>
                <td>$<%= total %></td>
            </tr>
            <tr>
                <td>Total Excento:</td>
                <td>$<%= total %></td>
            </tr>
        </tbody>
    </table>
    <h3>***** Gracias por su Visita *****</h3>
</div>
<input class="small-button" type="button" value="Imprimir" onclick="document.write(document.getElementById('receiptContainer').outerHTML);print();" />