<script>
	$(document).ready(function(){
		focusCursorOnInput();
		makeEnterClick();
	})

	function makeEnterClick() {
		$('#articleInputId').keypress(function (e) {
		    var key = e.which;
		    if(key == 13) {
		        $('#newInputButton').click();
		        return false;  
		    }
		});
	}

	function focusCursorOnInput() {
    	$('#articleInputId').focus();
	}

</script>

<p id="notice"><%= notice %></p>
<h3>Venta / alquiler de artículos</h3>
<div class="modalBackground">
	<div id="newInputPopup" >
		
		<div id="articleDetailContainer">

		</div>

		<div id="formContainer">
			<%= form_tag({:action => 'new_manual_input'}, :remote => true, :'data-update-target' => 'inputSuccessMessage') do %>

				<%= radio_button_tag(:type, "sale", :checked => 'checked') %>
				<%= label_tag(:sale, "Venta") %>
				<%= radio_button_tag(:type, "rent") %>
				<%= label_tag(:rent, "Alquiler") %> 

			<% end %>
			

			<input type="button" value="Confirmar transaccion" id="confirmInput"/>
		</div>
	</div>
</div>

<div class="inputArticleSection">
	<h3>Ingreso de artículo</h3>
	<input type="text" id="articleInputId" placeholder="Ingrese código"/>
	<input type="button" value="Nuevo ingreso" id="newInputButton"/>
	<div id="inputSuccessMessage"></div>
</div>	

<div class="batchSection">
<!-- Lista de inputs en el lote actual. -->
	<h3>Lote</h3>
	<div id="table_container">
		<table class="inputCollectionTable">
			<thead>
		        <tr>
		            <th>Articulo</th>
		            <th>Precio</th>
		            <th>Tipo</th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
				<tr>
					<td>
						No hay articulos en el lote
					</td>
					<td>
						
					</td> 
					<td>
						
					</td>
					<td>
						
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
	<input type="button" value="Confirmar lote" id="confirmBatchButton"/>
</div>

<!-- Templates (ponerlos en algun lugar de assets)-->
<script type="text/template" id="template-inputList">
	
  	<%% if (inputs.length > 0) {
	  	  	_.each(inputs, function(currentInput){ %>
		  	  	<tr data-id="<%%- currentInput.id %>">
		  		 	<td> 
		  		 		<a href="/articles/<%%- currentInput.article %>" target="_blank">
		  		 			<%%- currentInput.articleData.description %>
		  		 		</a>
		  		 	</td>
		  		 	<td> 
		  		 		$<%%- currentInput.amount %>
		  		 	</td>
		  		 	<td> 
		  		 		<%%- obtainTransactionType(currentInput.type) %>
		  		 	</td>
		  		 	<td class="deleteButton"> 
		  		 		<img alt="Delete" height="16" src="/assets/delete.png" width="16" class="withPointer">
		  		 	</td>
		  		</tr>
	  	<%% }); 
	  	} else { %>
	  		<tr>
	  			<td>
	  				 No hay articulos en el lote
	  			</td>
	  		</tr>	
	<%% } %>
</script>
