<h1>Ingreso manual</h1>

<%= form_tag({:action => 'new_manual_input'}, :remote => true, :'data-update-target' => 'update-amount-container', :with => "'article_id=' + id") do%>
 	<%= label_tag(:amount, "Monto") %>
  	<%= text_field_tag(:amount) %>
	
	<%= radio_button_tag(:type, "sale") %>
	<%= label_tag(:sale, "Venta") %>
	<%= radio_button_tag(:type, "rent") %>
	<%= label_tag(:rent, "Alquiler") %> 

	<%= submit_tag 'Submit', :disable_with => 'Please wait...', :class => 'submit' %>
<% end %>


<%= link_to 'Back', inputs_path %>


<div id="update-amount-container">


</div>