<input type="text" id="articleInputId" placeholder="Ingrese codigo de artículo"/>
<input type="button" value="Nuevo ingreso" id="newInputButton"/>


<div id="inputSuccessMessage">

</div>


<div id="newInputPopup" >
	
	<div id="articleDetailContainer">

	</div>

	<div id="formContainer">
		<%= form_tag({:action => 'new_manual_input'}, :remote => true, :'data-update-target' => 'inputSuccessMessage') do %>

			<%= radio_button_tag(:type, "sale", :checked => 'checked') %>
			<%= label_tag(:sale, "Venta") %>
			<%= radio_button_tag(:type, "rent") %>
			<%= label_tag(:rent, "Alquiler") %> 

		<% end %>
		

		<input type="button" value="Confirmar transaccion" id="confirmInput"/>
	</div>
</div>

<!-- Lista de inputs en el lote actual. -->
<ul class="inputCollectionList">
	<li> No hay articulos en el lote</li>
</ul>
<input type="button" value="Confirmar lote" id="confirmBatchButton"/>


<!-- Templates (ponerlos en algun lugar de assets)-->
<script type="text/template" id="template-inputList">
	
  	<%% if (inputs.length > 0) {
	  	  	_.each(inputs, function(currentInput){ %>
		  	  	<li data-id="<%%- currentInput.id %>">
		  		 	<div> 
		  		 		<%%- currentInput.articleData.description %>
		  		 	</div>
		  		 	<div> 
		  		 		<%%- currentInput.amount %>
		  		 	</div>
		  		 	<div> 
		  		 		<%%- currentInput.type %>
		  		 	</div>
		  		 	<div class="editButton"> 
		  		 		Editar
		  		 	</div>
		  		 	<div class="deleteButton"> 
		  		 		Eliminar
		  		 	</div>
		  		</li>
	  	<%% }); 
	  	} else { %>
	  		<li> No hay articulos en el lote</li>
	<%% } %>
</script>
