<h3>Gestionar caja</h3>
<p id="notice"><%= notice %></p>
<div>
	<% if @today_open_caja['result'] == 'ok' %>
		Caja: 
		<a href="/collects/today_collect">
			Id:
			<span><%= @today_open_caja['record'].id %></span>
			Creada:
			<span><%= l (@today_open_caja['record'].created_at) %></span>
		</a>
		<%= form_tag(controller: "collects", action: "close_today_caja", method: "post") do%>
			<%= submit_tag 'Cerrar caja actual', :disable_with => 'Espere...', :class => 'submit collect', :confirm => 'Seguro que desea cerrar esta caja?' %>
		<% end %>


	<% else %>
		<div>
			<%= @today_open_caja['message'] %>	
		</div>
		
		<% if @today_open_caja['result'] == 'no_open' %>
			<%= form_tag(controller: "collects", action: "open_today_caja", method: "post") do%>
				<%= submit_tag 'Abrir caja', :disable_with => 'Espere...', :class => 'submit collect', :confirm => 'Seguro que desea abrir una caja?' %>
			<% end %>
		<% elsif @today_open_caja['result'] == 'open_before' %>
			<%= form_tag(controller: "collects", action: "close_another_caja", method: "post") do%>
				<%= submit_tag 'Cerrar caja anterior', :disable_with => 'Espere...', :class => 'submit collect', :confirm => 'Seguro que desea cerrar la caja de un día anterior?' %>
			<% end %>
		<% end %>
			
	<% end %>
</div>
