<% if flash[:notice].present? %>
  <p>
  		<%= flash[:notice] %>
  </p>
<% end %>
<ul>
	<% if @today_transactions.length > 0 %>
		<% @today_transactions.each do |transaction|  %>
			<a name="<%= transaction.id %>">
				<li>
					<span><%= transaction.amount %></span>
					<span><%= transaction.type %></span>
					<% if transaction.status == "active" %>
						<!--  Es un transaction normal (no es cancel transaction) -->
							<% if transaction.article.present? %>
								<!--  El transaction tiene articulo, asi que mostramos su descripcion -->
								<span><%= transaction.article.description %></span>
							<% end %>	
						<%= button_to("Anular", {:action => "cancel_transaction", :input_to_cancel => transaction.id})%>
					<% elsif transaction.status == "cancelled" %>
						Anulado
					<% elsif transaction.status == "cancel_input" %>
						<!-- click aca, que agregue clase para animacion de transaction anulado -->
						Anula: <a href="#<%= transaction.cancel_id %>"> transacción</a>
					<% end %>
				</li>
			</a>	
		<% end %>
	<% else %>
		No hay transacciones en la caja de hoy.
	<% end %>	
</ul>