<style>
	.provider_container{
		border-bottom: 1px black dotted;
	}
	.print{
		width: 100px;
		cursor: pointer;
	}

</style>

<script>
 
 function printImg() {
    var divToPrint = document.getElementById('billing_table');
    newWin = window.open("");
    // Hace un salto de pagina cuando el div queda cortado en la impresion
    newWin.document.write('<style>@media print{div.provider_container{page-break-inside: avoid;}} </style>');
	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
  }

  $(document).ready(function(){

    $('.print').click(function(){
    	printImg();
    });
  });
</script>

<style>
#billing_table{
    height: 800px;
    overflow-y: auto;
}
</style>

<div id="billing_table">
	<h3> Facturas para imprimir del mes <%= Time.now.strftime("%m-%Y") %></h3>

	<p id="notice"><%= notice %></p>

	<% @providers_to_print.each do |provider| %>
     <div class="provider_container" id="provider_container_<%= provider.id%>">
		<p>Sr/Sra. <%= provider.name %> <%= provider.lastname %></p>
		<table id="articles">
			<thead>
		        <tr>
					<th>Código Artículo</th>
					<th>Descripción</th>
					<th>Estado</th>
					<th>Precio</th>
					<th>Porcentaje Comisión</th>
					<th>Efectivo Comisión</th>
		        </tr>
		      </thead>
			<tbody>
				<% sub_total = 0 %>
				<% total     = 0 %>
				<% (provider.instance_variable_get "@custom_input_list").each do |input| %>
					<tr>
						<td><%= input.article.id %></td>
						<td><%= input.article.description %></td>
						<td><%= input.obtain_human_label %></td>
						<td>$<%= input.amount %></td>
						<td><%= input.comission_per %>% + iva</td>
						<td>$<%= input.comission_cash %></td>
					</tr>
					<% sub_total = sub_total + input.amount %>
				<% end %>
				<% total = (sub_total * 0.35 + sub_total * 0.35 * 0.22).round %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>-----------</td>
					<td>-----------</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Sub Total:</td>
					<td>$<%= sub_total %></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Comisión + iva:</td>
					<td>$<%= total %></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Total Neto:</td>
					<td>$<%= sub_total - total %></td>
				</tr>
			</tbody>
		</table>
		<p> Recibí de Ciclotimia la suma de: $ <%= total %> </p>
		<p> Montevideo, <%= Time.now.strftime("%d-%m-%Y") %></p>
	</div>
	<% end %>
</div>
<div>
	<button class="print">Imprimir</button>
	<%= button_to("Enviar via Email", :action => "send_billing_monthly", :method => "post") %>
</div>

