<style>
	.provider_container{
		border-bottom: 1px black dotted;
	}
	.print{
		width: 100px;
		cursor: pointer;

	}
	.right{
		text-align: right;
		padding-right: 10px;
	}
</style>

<script>
 function printImg() {
    var divToPrint = document.getElementById('billing_table');
    newWin = window.open("");
	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
  }

  $(document).ready(function(){
    $('.print').click(function(){
    	printImg();
    });
  });
</script>

<style>
#billing_table{
    height: 500px;
    overflow-y: auto;
}
</style>

<div id="billing_table">
	<h3> Facturas ganancia neta para imprimir del mes <%= Time.now.strftime("%m-%Y") %></h3>

	<% @providers_to_print.each do |provider| %>
     <div class="provider_container" id="provider_container_<%= provider.id%>">
		<p>Sr/Sra. <%= provider.name %> <%= provider.lastname %></p>
		<table id="articles">
			<thead>
		        <tr>
					<th>Detalle</th>
					<th>Importe</th>
		        </tr>
		      </thead>
			<tbody>
				<% total     = 0 %>
				<% (provider.instance_variable_get "@custom_input_list").each do |input| %>
					<% total = total + input.comission_cash.to_i %>
				<% end %>
				<tr>
					<td>Comisión por intermediación del mes <%= Time.now.strftime("%m-%Y") %></td>
					<td>$<%= total - total * 0.22 %></td>
				</tr>
				<tr>
					<td class="right">SUB TOTAL</td>
					<td>$<%= total - total * 0.22 %></td>
				</tr>
				<tr>
					<td class="right">IVA</td>
					<td>$<%= total * 0.22 %></td>
				</tr>
				<tr>
					<td class="right">TOTAL</td>
					<td>$<%= total %></td>
				</tr>
			</tbody>
		</table>
		<p> Montevideo, <%= Time.now.strftime("%d-%m-%Y") %></p>
	</div>
	<% end %>
</div>
<div>
	<button class="print">Imprimir</button>
</div>