<style> 	
	.print{
		width: 100px;
		cursor: pointer;
	}
	.codigo{
		width:10%;
	}
	.name{
		width:80%;
		text-align: left;
	}
	.toPay{
		width:10%;
		text-align: right;
	}

</style>

<script>
 
 function printImg() {
    var divToPrint = document.getElementById('billing_table');
    newWin = window.open("");
    // Hace un salto de pagina cuando el div queda cortado en la impresion
    newWin.document.write('<style>@media print{.codigo{width:10%;} .name{ width:80%; text-align: left;} .toPay{ width:10%; text-align: right;} .border_bottom{border-bottom: 1px black dotted;}} </style>');

	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
  }

  $(document).ready(function(){

    $('.print').click(function(){
    	printImg();
    });
  });
</script>

<style>
#billing_table{
    height: 800px;
    overflow-y: auto;
}
</style>

<div id="billing_table">
	<h3> Liquidación Proveedores del mes <%= Time.now.strftime("%m-%Y") %></h3>

     <div class="provider_container" id="provider_container">
		<table id="articles">
			<thead>
		        <tr>
					<th class="codigo">Código</th>
					<th class="name">Nombre</th>
					<th class="toPay">A Pagar</th>
		        </tr>
		    </thead>
			<tbody>
				<% @providers_to_print.each do |provider| %>
					<% sub_total = 0 %>
					<% total     = 0 %>
					<% (provider.instance_variable_get "@custom_input_list").each do |input| %>
						<% sub_total = sub_total + input.amount %>
						<% total     = total + (input.amount - input.comission_cash.to_i) %>
					<% end %>
					<tr class="border_bottom">
						<td class="codigo"><%= provider.id %></td>
						<td class="name"><%= provider.name %> <%= provider.lastname %></td>
						<td class="toPay">$<%= total %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div>
	<button class="print">Imprimir</button>
	<%= button_to("Enviar via Email", :action => "send_billing_monthly", :method => "post") %>
</div>

