<style>
	.provider_container{
		border-bottom: 1px black dotted;
	}
	.print{
		width: 100px;
		cursor: pointer;

	}
	.right{
		text-align: right;
		padding-right: 10px;
	}
</style>

<script>
 function printImg() {
    var divToPrint = document.getElementById('billing_table');
    newWin = window.open("");
    // Css y salto de pagina cuando un div queda cortado en la impresion
    newWin.document.write('<style>' + 
    						'@media print{div.provider_container{page-break-inside: avoid;}} ' +
    						'.provider_container{ ' +
								'border-bottom: 1px black dotted;' +
							'} ' +
							'.right{ ' +
									'text-align: right; ' +
									'padding-right: 10px; ' +
							'}' +
    					'</style>');
	newWin.document.write(divToPrint.outerHTML);
	newWin.print();
	newWin.close();
  }

  $(document).ready(function(){
    $('.print').click(function(){
    	printImg();
    });
  });
</script>

<style>
#billing_table{
    height: 800px;
    overflow-y: auto;
}
</style>

<div id="billing_table">
	<h3> Facturas de alquileres para imprimir del mes <%= Time.now.strftime("%m-%Y") %></h3>

    <div class="provider_container" id="rent_container">
		<table id="articles">
			<thead>
		        <tr>
					<th>Código Artículo</th>
					<th>Descripción</th>
					<th>Estado</th>
					<th>Precio</th>
					<th>Porcentaje Comisión</th>
					<th>Ganancia Neta</th>
		        </tr>
		      </thead>
			<tbody>
				<% total = 0 %>
				<% @rents_to_print.each do |input| %>
					<tr>
						<td><%= input.article_id %></td>
						<td><%= input.article_desc %></td>
						<td><%= input.obtain_human_label %></td>
						<td>$<%= input.amount %></td>
						<td><%= input.comission_per %>% + iva</td>
						<td>$<%= input.comission_cash %></td>
					</tr>
					<% total = total + input.amount %>
				<% end %>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>-----------</td>
					<td>-----------</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Total Neto:</td>
					<td>$<%= total %></td>
				</tr>
			</tbody>
		</table>
		<p> Montevideo, <%= Time.now.strftime("%d-%m-%Y") %></p>
	</div>
</div>
<div>
	<button class="print">Imprimir</button>
</div>