<!DOCTYPE html>
<html>
<head>
    <title>Ciclotimia</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "messi", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "jquery-ui", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "messi", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "jquery.validate", "data-turbolinks-track" => true %> 
    <%= javascript_include_tag "jquery-ui", "data-turbolinks-track" => true %> 
<%= csrf_meta_tags %>
</head>

<!-- Horizontal drop down menu from all app -->
<div id='appmenu'>
    <ul>
        <li class='home'>
            <%= link_to 'Home', "#" %> 
        </li>
        
        <li class='providers has-sub'>
            <%= link_to 'Proveedores', providers_path, :method => "get" %> 
            <ul>
                <li>
                    <%= link_to 'Nuevo Proveedor', new_provider_path, :method => "get" %>
                </li>
            </ul>
        </li>
        
        <li class='articles has-sub'>
            <%= link_to 'Articulos', articles_path, :method => "get" %>
            <ul>
                <li>
                    <%= link_to 'Nuevo Articulo', new_article_path, :method => "get" %>
                </li>
            </ul>
        </li>

        <li class='collects has-sub'>
            <%= link_to 'Caja', '/collects/today_collect', :method => "get" %>
            <ul>
                <li>
                    <%= link_to 'Gestionar Caja Actual', '/collects/index', :method => "get" %>
                </li>
                <li>
                    <%= link_to 'Reportes', "/reports/index", :method => "get"%>
                </li>
            </ul>
        </li>
        
        <li class='inputs has-sub'>
            <%= link_to 'Nuevo Ingreso', '/inputs/input_article', :method => "get" %>
            <ul>
                <li>
                    <%= link_to 'Nuevo Ingreso Manual', new_input_path, :method => "get" %>
                </li>
            </ul>
        </li>

        <li class='rents has-sub'>
            <%= link_to 'Alquiler', "#" %>
            <ul>
                <li>
                    <%= link_to 'Devolución de Alquiler', '/articles/devolution', :method => "get" %>
                </li>
                <li>
                    <%= link_to 'Morosos', "/articles/debtors", :method => "get" %>
                </li>
            </ul>
        </li>
        
        <li class='outputs'>
            <%= link_to 'Egreso Caja', "/outputs/new", :method => "get" %>
        </li>

        <li class='billings has-sub'>
            <%= link_to 'Facturación Mensual', "#" %>
            <ul>
                <li>
                    <%= link_to 'Facturación Proveedores', "/billings/index", :method => "get" %>
                </li>
                <li>
                    <%= link_to 'Facturación Propia', "/billings/own_facturation", :method => "get" %>
                </li>
                <li>
                    <%= link_to 'Facturación Alquileres', "/billings/rent_facturation", :method => "get" %>
                </li>
                 <li>
                    <%= link_to 'Liquidacion Proveedores', "/billings/provider_month_total", :method => "get" %>
                </li>
            </ul>
        </li>
    </ul>
</div>

<body>

<%= yield %>

</body>
</html>
